<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
	<session-factory name="Distribucion">
		<property name="connection.provider">
			NHibernate.Connection.DriverConnectionProvider
		</property>
		<property name="current_session_context_class">web</property>
		<property name="connection.connection_string_name">ptdb</property>
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="adonet.batch_size">100</property>
		<property name="cache.use_second_level_cache">false</property>
    <property name="dialect">NHibernate.Dialect.MsSql2012Dialect</property>
		<property name="cache.default_expiration">180</property>
		<property name="cache.use_query_cache">true</property>
		<property name="format_sql">true</property>
		<property name="show_sql">true</property>
	</session-factory>
</hibernate-configuration>